.button{
  display: inline-block;
  padding: 15px 85px;

  font-family: $font-base;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #444444;
}
