.catalog {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;
}

.catalog__wrapper {
  @include wrapper-max;

  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__title {
  margin: 0;
  padding: 75px 40px;
  background: #f1f1f1;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.catalog__cart {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 55px 40px;
    text-align: center;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__wrapper {
    @include wrapper-tablet;

    padding-top: 85px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 55px 40px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__wrapper {
    @include wrapper-desktop;

    padding-top: 95px;
    flex-direction: row;
  }
}
