.catalog {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  @include wrapper-max;
}

.catalog__wrapper {
  padding: 30px;
}

.catalog__title {
  margin: 0;
  padding: 75px 40px;
  background: #f1f1f1;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.catalog__cart {
  margin-bottom: 30px;
}
