.catalog {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;
}

.catalog__wrapper {
  @include wrapper;

  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__title {
  margin: 0;
  padding: 70px 40px;
  padding-bottom: 76px;
  background: #f1f1f1;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.catalog__cart {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 78px 40px;
    padding-top: 95px;
    padding-left: 56px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__wrapper {
    @include wrapper-tablet;

    padding-top: 80px;
    margin-bottom: 65px;
  }

  .catalog__cart {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 92px 40px;
    padding-left: 56px;
    padding-bottom: 95px;

    font-size: 53px;
    line-height: 57px;
  }

  .catalog__wrapper {
    @include wrapper-desktop;

    padding-top: 137px;
    flex-direction: row;
  }
}
