.color-list {
  padding: 30px 0;
  padding-left: 60px;
  margin: 0;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  list-style: none;
}

.color-list__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.color-list__item {
  margin-bottom: 35px;
}
