.contacts-list {
  padding-top: 28px;

  &--textarea {
    padding: 0;
  }
}

.contacts-list--color {
  padding-top: 0;
}

.contacts-list__label--color {
  position: relative;

  line-height: 16px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 13px;
    left: 63px;

    width: 197px;
    height: 1px;

    background: #62d1ba;
  }
}

.contacts-list__label--email {
  &::after {
    left: 80px;

    width: 180px;
  }
}

.contacts-list__item {
  position: relative;

  margin-bottom: 22px;
}

.contacts-list__icon--phone {
  position: absolute;
  right: 8px;
  top: 35px;
  opacity: 0.2;
}

.contacts-list__icon--email {
  position: absolute;
  right: 4px;
  top: 36px;
  opacity: 0.2;
}

.contacts-list--color .contacts-list__item {
  margin-bottom: 30px;
}

.contacts-list__text {
  position: relative;

  width: 260px;
  padding: 16px 0;

  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid black;

  &::placeholder {
    font-family: $font-base;
    color: rgba(#000000, 0.3);
    font-size: 17px;
    line-height: 18px;
  }

  &--phone {
    padding-top: 18px;
    padding-bottom: 13px;
    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }

  &--email {
    padding-top: 22px;
    padding-bottom: 17px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
    outline: 0;
  }

  &:hover + .contacts-list__icon,
  &:focus + .contacts-list__icon,
  &:active + .contacts-list__icon {
    fill: #62d1ba;
    opacity: 1;
  }
}

.contacts-list__textarea {
  margin-top: 24px;
  padding: 12px 14px;
  width: 228px;
  min-height: 114px;

  border: 2px solid black;
  resize: none;

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
    outline: 0;
  }

  &::placeholder {
    font-family: $font-base;
    color: rgba(#000000, 0.3);
    font-size: 17px;
    line-height: 18px;
  }
}


@media (min-width: $tablet-width) {
  .contacts-list {
    padding-top: 0;
    width: 501px;

    &--color {
      width: 667px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--textarea {
      width: 680px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .contacts-list__text {
    padding: 0 16px;
    padding-bottom: 14px;
    flex-grow: 1;
    margin-top: -5px;

    font-size: 19px;
    background: transparent;

    &::placeholder {
      font-size: 19px;
    }
  }

  .contacts-list--color .contacts-list__item {
    margin-bottom: 41px;
  }

  .contacts-list--color .contacts-list__item:last-of-type {
    margin-bottom: 38px;
  }

  .contacts-list--color .contacts-list__text {
    padding-bottom: 12px;
  }

  .contacts-list__label {
    vertical-align: top;
    margin-right: 25px;
  }

  .contacts-list--textarea .contacts-list__label {
    margin-top: 16px;
  }

  .contacts-list__item {
    display: flex;
    margin-bottom: 39px;
  }

  .contacts-list__icon--phone {
    right: 26px;
    top: -6px;
  }

  .contacts-list__icon--email {
    right: 22px;
    top: -6px;
  }

  .contacts-list__textarea {
    width: 502px;
    min-height: 141px;
    box-sizing: border-box;
    margin: 0;

    &::placeholder {
      font-size: 19px;
    }
  }

  .contacts-list__label--color {
    margin-right: 101px;
    display: inline-block;
    min-width: 65px;

    font-size: 17px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    width: 698px;

    &--color {
      width: 815px;
    }

    &--textarea {
      width: 900px;
    }
  }

  .contacts-list__textarea {
    width: 700px;
  }

  .contacts-list__label--color {
    margin-right: 50px;
  }

  .contacts-list__icon--email {
    right: 4px;
  }

  .contacts-list__icon--phone {
    right: 8px;
  }
}
