.contacts {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  @include wrapper-max;
}

.contacts__wrapper {
  margin: 0;
  padding: 0 25px;
  padding-top: 35px;
  padding-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  @include reset;

  margin-top: 21px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__item {
  padding: 0;
  margin: 0;
  width: 74px;

  vertical-align: top;
}

.contacts__adress--line {
  border-bottom: 1px solid #62d1ba;
}

.contacts__button {
  padding: 14px 49px;
  margin: 39px 30px;

  font-size: 18px;
}

.contacts__row {
  margin-bottom: 23px;
  display: inline-table;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include wrapper-tablet-max;

    padding-top: 63px;
    margin-bottom: 57px;

    background: url("../../img/svg/icon-flag.svg") no-repeat 668px 47px;
  }

  .contacts__wrapper {
    @include wrapper-tablet;

    padding-bottom: 28px;
  }

  .contacts__title {
    margin-left: -4px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    margin-left: -4px;
    margin-top: 43px;

    font-size: 17px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    padding: 14px 39px;
    padding-bottom: 15px;
    margin: 52px auto 60px;
    margin-bottom: 0;

    font-size: 17px;
  }

  .contacts__row {
    width: 285px;
    margin-right: 48px;
  }

  .contacts__item {
    width: 75px;
  }

  .contacts__adress {
    width: auto;
  }

  .contacts__row:last-child {
    width: 315px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include wrapper-desktop;

    flex-direction: row;
    margin-bottom: 102px;
    padding-top: 71px;

    background-position: 113px 132px;
  }

  .contacts__wrapper {
    width: 350px;
    padding: 70px 0;
    margin: 0;
    margin-left: 170px;
  }

  .contacts__title {
    margin-left: 0;

    letter-spacing: -0.4px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__map-image {
    width: 525px;
    height: 457px;
  }

  .contacts__map {
    margin-left: auto;
  }

  .contacts__table {
    margin-left: 0;
    width: 290px;
    margin-top: 45px;
  }

  .contacts__row {
    width: auto;
    margin: 0;
    margin-bottom: 23px;
  }

  .contacts__item {
    width: 75px;
  }

  .contacts__button {
    margin: 0;
    margin-top: -55px;
    margin-left: 175px;
  }
}
