.main-nav {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: #ffffff;
}

.main-nav__logo {
  display: inline-block;

  &:hover[href],
  &:focus[href] {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active[href] {
    opacity: 0.3;
  }

  transition: all 0.5s;
}

.main-nav__text {
  @include reset;

  display: none;

  font-size: 0;
  line-height: 24px;
  color: #444444;
}

.main-nav__logo-wrapper {
  position: relative;

  padding: 22px 115px;
  padding-bottom: 19px;

  background: $offer-color;
  border-bottom: 1px solid #ececec;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 21px;
  background: transparent;

  width: 40px;
  height: 40px;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 10px;
  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000,
    0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 23px;
    left: 9px;

    width: 22px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: absolute;
    top: -90px;

    background: transparent;
  }


  .main-nav__logo-svg {
    width: 113px;
    height: 46px;
  }

  .main-nav__wrapper {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 768px;
  }

  .main-nav__logo-wrapper {
    order: 1;
    padding: 22px 209px 17px 48px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__text {
    display: block;
    margin-top: 17px;
    margin-left: auto;
    margin-right: 50px;

    font-size: 15px;
    order: 5;
  }

  .main-nav__list {
    order: 3;
  }

  .main-nav__list-second {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    @include reset;

    order: 1;

    background: #ffffff;
  }

  .main-nav__wrapper {
    width: 1150px;
  }

  .main-nav__list-second {
    order: 3;
  }

  .main-nav__logo-wrapper {
    order: 2;
    padding: 9px 101px 3px 40px;
  }

  .main-nav__logo-svg {
    width: 149px;
    height: 73px;
  }

  .main-nav__list-hidden {
    order: 4;
  }

  .main-nav__text {
    margin-right: 50px;
  }
}
