.main-nav {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: #ffffff;
}

.main-nav__logo{
  display: inline-block;
  width: 113px;
  height: 46px;
}

.main-nav__text{
  @include reset;

  margin-top: 20px;
  margin-left: auto;

  font-size: 0;
  line-height: 24px;
  color: #444444;
}

.main-nav__logo-wrapper {
  position: relative;

  padding: 35px 115px;

  background: $offer-color;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
}

@media (min-width: $tablet-width) {

  .main-nav__wrapper {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .main-nav__logo-wrapper {
    padding: 20px 210px 18px  50px;

    border-bottom: 1px solid #ececec;
  }

  .main-nav__toggle{
    display: none;
  }

  .main-nav__text{
    font-size: 15px;
    order: 5;
  }
}

@media (min-width: $desktop-width) {

}
