.modal-basket {
  display: none;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  border: 1px solid #ededed;

  @include wrapper;
}

.modal-basket__title {
  padding: 0;
  margin: 30px 80px 20px 80px;

  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-basket__text {
  padding: 0;
  margin: 0 50px 25px 95px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal-basket__btn {
  padding: 15px 95px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;

  font-family: $font-base;
  font-size: $font-size;

  color: #ffffff;
  border: none;
  background: #63d1bb;
}
