.modal-basket {
  display: none;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  border: 1px solid #c6c6c6;

  @include wrapper;
}

.modal-basket__title {
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 155px;

  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-basket__text {
  padding: 0;
  margin: 0 auto;
  width: 135px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal-basket__btn {
  padding: 15px 82px;
  margin-bottom: 50px;

  font-family: $font-base;
  font-size: $font-size;

  color: #ffffff;
  border: none;
  background: #63d1bb;
}
