.offer-list {
  @include reset;

  font-family: $font-base;
  list-style: none;
  color: $offer-color;
}

.offer-list__item {
  padding: 30px;
}

.offer-list__text {
  @include reset;

  width: 100px;

  line-height: 24px;
}

.offer-list__item--interior {
  background: #63d1bb;
}

.offer-list__item--toys {
  background: #56c3b2;
}
