.offers {
  color: $font-color;
  font-family: $font-base;

  @include wrapper-max;
}

.offers_wrapper {
  padding-top: 80px;

  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.offers__title {
  @include reset;

  margin: 0 5px;
  margin-bottom: 115px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
