.offers {
  position: relative;

  color: $font-color;
  font-family: $font-base;
  background: #f9f9f9;
}

.offers_wrapper {
  @include wrapper-max;

  padding-top: 70px;

  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% -16%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/hero-mobile@2x.jpg") no-repeat 50% -16%;
    background-size: 575px auto;
  }
}

.offers__title {
  @include reset;

  margin: 0 5px;
  margin-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .offers::after {
    content: "";

    position: absolute;
    bottom: -8px;

    width: 100%;
    height: 50px;

    background: url("../img/svg/bg-zigzag-fill.svg") no-repeat 1px 100%;
    background-size: 102%;
    z-index: 1;
  }

  .offers_wrapper {
    @include wrapper-tablet;
    padding-top: 152px;
    background: url("../img/hero-tablet@1x.jpg") no-repeat 50% -2px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/hero-tablet@2x.jpg") no-repeat 50% 0;
      background-size: 1150px auto;
    }
  }

  .offers__title {
    @include reset;

    margin-bottom: 373px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .offers::after {
    bottom: -34px;

    height: 70px;

    background-position: -50px 51%;
    background-size: 1250px 51%;
    background-repeat: repeat-x;
  }

  .offers_wrapper {
    @include wrapper-desktop;

    padding-top: 152px;
    background: url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/hero-desktop@2x.jpg") no-repeat 50% 0;
      background-size: 1150px auto;
    }
  }

  .offers__title {
    padding: 0 115px;
    margin-bottom: 359px;

    font-size: 53px;
    line-height: 57px;
  }
}
