.page-footer {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: $footer-color;

  @include wrapper;
}

.page-footer__wrapper {
  padding: 0 30px;
  padding-bottom: 0;
}

.page-footer__devoloper {
  display: inline-block;
  margin: 25px 0;
  margin-left: 40px;

  font-size: 19px;
  font-weight: bold;
  color: $font-color;
  text-decoration: none;
}
