.page-footer {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: $footer-color;
}

.page-footer__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;

  background: $footer-color;
}

.page-footer__devoloper {
  position: relative;

  display: inline-block;
  margin: 27px 0;
  margin-left: 38px;

  font-size: 19px;
  font-weight: bold;
  color: $font-color;
  text-decoration: none;

  &:hover path,
  &:focus path {
    fill: #51c4b2;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__svg {
  position: absolute;
  right: 28px;
  top: -8px;
}

.page-footer__logo {
  display: none;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    fill: #62d1ba;
    transition: all 0.5s;
  }

  &:active {
    opacity: 0.3;
  }

  transition: all 0.5s;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include wrapper-tablet;
    flex-direction: row;
  }

  .page-footer__devoloper {
    margin: 62px 0;
    margin-right: 55px;
  }

  .page-footer__logo {
    display: block;

    width: 110px;
    height: 45px;
    margin-top: 50px;
    margin-right: 151px;
  }

  .page-footer__svg {
    right: -67px;
    top: -7px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include wrapper-desktop;
  }

  .page-footer__logo {
    margin-right: 245px;
  }

  .page-footer__devoloper {
    margin-left: auto;
    margin-right: 57px;
  }
}
