.product-week {
  padding-bottom: 45px;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;
  background: $offer-color;
}

.product-week__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.product-week__image {
  order: 3;
}

.product-week__title-wrapper {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.product-week__title {
  @include reset;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-week__subtitle {
  @include reset;

  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}

.product-week__text {
  @include reset;

  margin: 20px 0;
  width: 260px;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-week__table {
  margin-bottom: 20px;
  width: 260px;

  font-size: 15px;
  color: #444444;
  line-height: 20px;

  border-collapse: collapse;
}

.product-week__item {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-week__field {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-week__price {
  margin: 25px 65px;
  padding: 0;

  color: #444444;
  font-weight: bold;
}

.product-week__info {
  order: 2;
}

.product-week__price-wrapper{
  order: 4;
}

@media (min-width: $tablet-width) {
  .product-week {
    padding-bottom: 65px;
  }

  .product-week__btn {
    padding: 15px 100px;
  }

  .product-week__wrapper {
    @include wrapper-tablet;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product-week__title {
    margin-top: 40px;
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__price {
    font-size: 20px;
  }

  .product-week__subtitle {
    width: 100px;
    margin-top: 45px;
    margin-left: 140px;

    line-height: 17px;
    text-align: center;
  }

  .product-week__text {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 290px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-week__image {
    height: 404px;
    width: 333px;

    margin-top: 50px;
    margin-left: 30px;
  }

  .product-week__table {
    width: 295px;
  }

  .product-week__price-wrapper {
    margin-top: -145px;
  }

  .product-week__title-wrapper {
  flex-direction: row;
 }
}
@media (min-width: $desktop-width) {
  .product-week {
    padding-bottom: 95px;
  }

  .product-week__wrapper {
    @include wrapper-desktop;
  }

  .product-week__title {
    order: 2;
    width: 535px;
    margin-top: 125px;
    margin-left: 25px;

    font-size: 53px;
    line-height: 57px;
  }

  .product-week__subtitle {
    order: 1;
    margin-left: 45px;
    margin-top: 135px;
  }

  .product-week__image {
    height: 636px;
    width: 525px;
    margin-top: -100px;
  }

  .product-week__info{
    margin-left: 175px;
  }

  .product-week__price-wrapper {
    margin-left: 175px;
  }

}
