.product-week {
  position: relative;

  padding-bottom: 41px;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: $offer-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -43px;
    width: 100%;
    height: 50px;

    transform: rotate(180deg);
    background: url("../img/svg/bg-zigzag-line.svg") no-repeat -16px 100%;
    background-size: 115%;
  }
}

.product-week__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.product-week__image-block {
  order: 3;
}

.product-week__title-wrapper {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.product-week__title {
  @include reset;

  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-week__subtitle {
  @include reset;

  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}

.product-week__text {
  @include reset;

  margin: 16px 0;
  margin-top: 23px;
  width: 260px;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-week__table {
  margin-bottom: 20px;
  width: 260px;

  font-size: 15px;
  color: #444444;
  line-height: 20px;

  border-collapse: collapse;
}

.product-week__item {
  width: 37%;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-week__field {
  width: auto;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-week__price {
  margin: 23px 67px;
  margin-bottom: 29px;
  padding: 0;

  color: #444444;
  font-weight: bold;
}

.product-week__info {
  margin-bottom: 7px;
  order: 2;
}

.product-week__price-wrapper {
  order: 4;
}

@media (min-width: $tablet-width) {
  .product-week {
    padding-bottom: 65px;

    &::after {
      bottom: -35px;

      background-position: -19px 100%;
      background-size: 103%;
    }
  }

  .product-week__btn {
    padding: 15px 98px;
  }

  .product-week__wrapper {
    @include wrapper-tablet;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product-week__title {
    margin-top: 42px;
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
  }

  .product-week__price {
    margin: 23px 70px;
    margin-bottom: 35px;

    font-size: 20px;
  }

  .product-week__subtitle {
    width: 100px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: 13px;

    line-height: 17px;
    text-align: center;
  }

  .product-week__text {
    margin-top: 44px;
    margin-bottom: 35px;
    width: 290px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-week__image-week {
    height: 404px;
    width: 333px;
  }

  .product-week__image-block {
    margin-top: 52px;
    margin-left: 39px;
  }

  .product-week__table {
    width: 295px;
  }

  .product-week__item {
    width: 33%;
  }

  .product-week__price-wrapper {
    margin-top: -136px;
  }

  .product-week__title-wrapper {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    padding-bottom: 95px;

    &::after {
      left: 9px;
      bottom: -26px;
      background-position: 50% 100%;
      background-size: 1050px 21px;
    }
  }

  .product-week__wrapper {
    @include wrapper-desktop;
  }

  .product-week__title {
    order: 2;
    width: 535px;
    margin-top: 121px;
    margin-left: 26px;

    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.3px;
  }

  .product-week__subtitle {
    order: 1;
    margin-left: 32px;
    margin-top: 136px;
  }

  .product-week__image-week {
    height: 636px;
    width: 525px;
  }

  .product-week__image-block {
    margin-top: -114px;
    margin-left: 55px;
  }

  .product-week__text {
    margin-bottom: 47px;
  }

  .product-week__info {
    margin-left: 175px;
  }

  .product-week__price {
    margin: 23px 73px;
    margin-bottom: 34px;
  }

  .product-week__price-wrapper {
    margin-left: 175px;
  }

  .product-week__btn {
    padding: 15px 99px;
  }
}
