.reviews {
  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  @include wrapper;
}

.reviews__wrapper {
  padding-bottom: 45px;
}

.reviews__title {
  @include reset;

  margin-bottom: 35px;

  font-size: 25px;
  line-height: 30px;
}

.reviews__quote {
 @include reset-list;
}

.reviews__text {
  @include reset;

  margin-bottom: 35px;
  width: 265px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__name {
  line-height: 24px;
}

.reviews__inst {
  @include reset;

  line-height: 30px;
  color: #444444;
}

.reviews__btn {
  @include reset-list;

  margin: 30px 0;
}
