.reviews {
  position: relative;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;

  background: $offer-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -43px;
    width: 100%;
    height: 50px;

    transform: rotate(180deg);
    background: url("../img/svg/bg-zigzag-line.svg") no-repeat -16px 100%;
    background-size: 115%;
  }
}

.reviews__wrapper {
  position: relative;

  @include wrapper;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 50px;
}

.reviews__btn-wrapper {
  display: flex;
  order: 3;
  margin: 29px 0;
  align-items: flex-start;
  margin-bottom: 38px;
}

.reviews__title {
  @include reset;

  order: 1;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
}

.reviews__quote {
  @include reset-list;

  width: 100%;
  order: 2;
}

.reviews__text {
  @include reset;

  margin-bottom: 27px;
  width: 100%;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__name {
  line-height: 24px;
}

.reviews__inst {
  @include reset;

  margin-top: 3px;

  line-height: 30px;
  color: #444444;
}

.reviews__btn {
  @include reset-list;

  width: 130px;
  height: 52px;
  margin: 0;

  border: 1px solid #ececec;
  background: #ffffff;

  cursor: pointer;

  &:hover svg,
  &:focus svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.reviews__button {
  order: 4;
  padding: 14px 78px;

  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 85px;

    &::after {
      bottom: -35px;

      background-position: -19px 100%;
      background-size: 103%;
    }
  }

  .reviews__wrapper {
    @include wrapper-tablet;

    padding-top: 77px;
    flex-direction: row;
    padding-bottom: 45px;

    background: url("../img/review@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    width: 475px;
    margin-bottom: 49px;
    margin-left: -4px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__button {
    order: 2;
    padding: 15px 36px;
    margin-left: auto;
  }

  .reviews__quote {
    order: 3;
  }

  .reviews__text {
    margin-bottom: 58px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__name {
    font-size: 18px;
  }

  .reviews__btn-wrapper {
    @include reset;

    position: absolute;
    bottom: 47px;
    right: 49px;
  }

  .reviews__btn {
    width: 89px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include wrapper-desktop;

    padding-bottom: 85px;

    &::after {
      bottom: -28px;
      left: 50px;
      width: 92%;
      background-position: 5px 100%;
      background-size: 100% 21px;
    }
  }

  .reviews__wrapper {
    width: 875px;
    padding: 0;
    padding-top: 77px;
    padding-bottom: 100px;
    padding-left: 175px;

    background-position: 0 7px;
  }

  .reviews__title {
    width: 485px;
    margin-bottom: 49px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 780px;
    margin-bottom: 39px;
  }

  .reviews__button {
    margin-top: 9px;
  }

  .reviews__name {
    font-size: 17px;
  }

  .reviews__btn-wrapper {
    bottom: 102px;
    right: -1px;
  }
}
