.size-list {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 30px;

  font-family: $font-base;
  color: $font-color;
  font-size: $font-size;
  line-height: 16px;
  font-weight: bold;

  list-style: none;
}

