body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: $font-base;
  font-size: $font-size;
  color: $font-color;

  background: $main-color;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
  background: $main-color;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
